.cardContainer{
  @include shadow-l
  @include radius-friendly;
  margin-top: $d-1;
  position: relative;
  width: 100%;
  pointer-events: all;
  user-select: all;
}

.card-lightWrap {
  width: 100%;
  height: 100%;
  @include flex-column;
  padding: 1.5rem 1.2rem 1.2rem 1.2rem;
}

.title {
  margin-bottom: .5rem;
}


.description{
  margin-top: .5rem;
}

.address{
  word-break: break-all;
}

.top {
  margin-top: $d-2;
}

.button-closeCard {
  position: absolute;
  right: .6rem;
  top: .6rem;
  pointer-events: all;
  width: 1.5rem;
  height: 1.5rem;
  background-color: transparent;
  border: 1px solid transparent;
  @include pill;
  @include flex-all-center;
  @include dim;
  transition: 200ms;
}

.button-closeCard:hover {
  background-color: $transparent_light;
  border: 1px solid $transparent_light;
  opacity: 1;
  cursor: pointer;
}

.button-closeCard span {
  line-height: 0px;
  transform: translateY(-1px);
  font-size: 30px;
  color: white;
  padding: 0;
  margin: 0;
}

.button-card{
  @include pill;
  @include shadow-l;
  flex-grow: 1;
  padding: $d-1;
  background-color: $transparent_light;
  border: 1px solid $transparent_light;
  color: white;
  margin-top: $d-1;
  transition: 250ms;
  font-size: $t-2;
  font-weight: 600;
}

.button-card:hover{
  background-color: rgba($transparent_light, .2);
  transform: translateY(-3px);
  @include shadow-xl;
}

.button-card:active{
  background-color: rgba($transparent_light, .2);
  transform: translateY(0px);
  @include shadow-l;
}

.dim{
  @include dim;
}

.card-spacer-top{
  margin-top: $d-1;
  margin-bottom: .5rem;
}

.card-spacer{
  margin-top: .2rem;
  margin-bottom: .3rem;
}

.cardBalance{
  @include flex-column;
  align-items: center;
  color: black;
  background-color: white;
  border-radius: 0px 0px 1.8rem 1.8rem;
  padding-top: 1rem;
  margin: 1.2rem -1.2rem -1.2rem -1.2rem;
}


.card-input{
  @include pill;
  @include padding-interface;
  @include inner-shadow;
  @include shadow-l;
  width: 100%;
  border: 1px solid $silver;
  outline: none;
  margin-top: .4rem;
  margin-bottom: 1rem;
  font-size: inherit;
}
