#dash-container {
  @include fixed-top-left;
  @include full;
  display: flex;
  z-index: 999;
}

.dash-column-small {
  @include scroll-v;
  flex: 0.3;
  width: $d-7;
  @include debug;
}

.dash-column-large {
  @include scroll-v;
  flex: 1;
  @include debug;
}

.img-ft {
  height: $t-1;
  padding-left: $d-1;
}
