#sideBarContainer {
  display: block;
  width: $d-7;
  padding: $d-1;
  height: 100vh;
  position: fixed;
  color: white;
  z-index: 800;
}

#searchbar{
  @include pill;
  @include padding-interface;
  padding-left: 2.5rem; // for magnifying glass
  @include inner-shadow;
  @include shadow-l;
  width: 100%;
  z-index: 800;
  border: 1px solid $silver;
  outline: none;
  font-size: inherit; }

#searchWrapper {
  position: sticky;
  top: 1rem;
  z-index: 99;
}

#glass {
  @include flex-all-center;
  height: 100%;
  position: absolute;
  left: 0.6rem;
  top:0;
  font-size: $t-4;
}

.cardContainer {
  @include flex-column;
  @include radius-friendly;
  position: relative;
  margin-top: $d-1;
  padding: $d-1;
  width: 100%;
}

.message {
  width: 80%;
}

.x {
  position: absolute;
  right: .6rem;
  top: .1rem;
  background-color: transparent;
  outline: none;
  border: 0px;
  color: white;
  font-size: 30px;
}
