
.closed{
  transform: translateX(-360px);
  // left: -360px !important;
}

#sideBarContainer {
  display: block;
  width: $d-7;
  padding: $d-1;
  height: 100vh;
  position: fixed;
  color: white;
  z-index: 800;
  padding-top: 0px;
  transition: transform .3s ease;
}

#searchbar{
  @include pill;
  @include padding-interface;
  padding-left: 2.5rem; // for magnifying glass
  @include inner-shadow;
  @include shadow-l;
  width: 100%;
  z-index: 800;
  border: 1px solid $silver;
  outline: none;
  margin-top: 1rem;
  font-size: inherit;
  height: 40px;
}

#searchWrapper {
  z-index: 99;
  position: fixed;
  width: 100%;
  width: $d-7;
}

#glass {
  @include flex-all-center;
  height: 100%;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  font-size: $t-2;
}

#sideBarCollapse{
  width: 120px;
  height: 40px;
  background-color: rgba(0,0,0,.8);
  color: white;
  text-align: right;
  font-size: 24px;
  padding: .2rem;
  border-radius: 20px;
  float: right;
  position: absolute;
  margin-top: 1rem;
  padding-right: 1rem;
  top: 0;
  transform: translateX(256px);
  z-index: -99;
  border: 1px solid #333;
  transition: transform .3s ease;
}

.closed #sideBarCollapse{
  transform: translateX(286px);
}

.closed #sideBarCollapse:hover{
  transform: translateX(290px);
}

#sideBarCollapse:hover{
  background-color: $pendingBlue;
  cursor: pointer;
  transform: translateX(250px);
}

#cardWrapper{
  padding-top: 3rem;
  overflow: scroll;
  height: 100vh;
  width: $d-7;
}
