#sideBarContainer{
  display: block;
  width: $d-7;
  padding: $d-1;
  height: 100vh;
  position: fixed;
  color: white;
  z-index: 800;
}

#searchbar{
  @include pill;
  @include padding-interface;
  width: 100%;
  padding-left: 40px; // for magnifying glass
  border: 1px solid silver;
  outline: none;
  font-size: inherit;
  z-index: 800;
}

#searchWrapper{
  position: relative;
}

#glass {
  position: absolute;
  left:10px;
  top:10px;
  font-size: 20px;
}

.cardContainer{
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding: 1.4rem;
  width: 100%;
  border-radius: 20px;
}

.message{
  width: 80%;
}

.x{
  position: absolute;
  right: .6rem;
  top: .1rem;
  background-color: transparent;
  outline: none;
  border: 0px;
  color: white;
  font-size: 30px;
}
