#topBarContainer{
  display: block;
  color: white;
  padding: $d-1;
  position: fixed;
  z-index: 800;
  top:0;
  right:0;
}

.button-newCSC{
  @include pill;
  @include padding-interface;
  @include all-blue-bg;
  color: white;
}

.button-foam{
  @include pill;
  @include padding-interface;
  @include all-gray-bg;
  color: white;
  margin-left: 1em;
}

.img-ft{
  height: $t-1;
  padding-left: $d-1;
}
