// app-wide defaults

button{
	outline: none;
	border:none;
	font-size: inherit;
	user-select: none;
}

button:hover{
  cursor: pointer;
}

::-webkit-scrollbar {
    display: none;
}

li, ol, ul {
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
}
