// app-wide defaults

button{
	outline: none;
	border:none;
	font-size: inherit;
	user-select: none;
}

button:hover{
  cursor: pointer;
  // filter: brightness(1.2);
}

::-webkit-scrollbar {
    display: none;
}
