// atomic classes
.blue_bg {
  background-color: $pendingBlue;
  border-color: $pendingBlue;
  fill: $pendingBlue;
  color: white;
}

.blue_text {
  color: $pendingBlue !important;
}

.green_bg {
  background-color: $activeGreen;
  border-color: $activeGreen;
  fill: $activeGreen;
  color: white;
}

.darkGrey_bg {
  background-color: $darkGrey;
  color: white;
}
