.cardContainer{
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding: 1.4rem;
  width: 100%;
  border-radius: 20px;
}

.message{
  width: 80%;
}

.x{
  position: absolute;
  right: .6rem;
  top: .1rem;
  background-color: transparent;
  outline: none;
  border: 0px;
  color: white;
  font-size: 30px;
}
