#bubbleContainer{
  position: relative;
  width: 200px;
  height: 32px;
  border-radius: 99px;
  transform: translate(-22px, calc(-32px - 8px - 8px)); // Y: bubbleHeight - chevronHeight - offset, X:
}

#bubbleBody{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: inherit;
  color:inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem 0 1rem;
  border-radius: inherit;
  z-index: 10;
}

#bubbleDrawer{
  position: absolute;
  color:inherit;
  display: flex;
  align-items: center;
  z-index: 9;
  height: 100%;
  width: auto;
  left: 200px;
  padding-right: .8rem;
  padding-left: 4rem;
  transform: translateX(-3.5rem);
  border-radius: 0px 99px 99px 0px;
}

.bubbleText{
  margin:0;
  padding:0;
  font-weight: 400;
}

.bubbleTitle{
  max-width: 100px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.bubbleTitle::before{
  content:'';
  width:100%;
  height:100%;
  position:absolute;
  left:0;
  top:0;
  background:linear-gradient(transparent 150px, white);

}

.bubbleBalance{

}

.bubbleTokens{

}

.green_bg #bubbleDrawer{
  background-color: darken($activeGreen, 10%);
}

.blue_bg #bubbleDrawer{
  background-color: darken($pendingBlue, 10%);
}

#chevron{
  position: absolute;
  z-index: 8;
  top: 32px;
  left: 16px;
}

.green_bg #chevron{
  fill: darken($activeGreen, 10%);
}

.blue_bg #chevron{
  fill: darken($pendingBlue, 10%);
}


.pinContainer:hover{
  cursor:pointer;
}
