
.pinContainer {
  white-space: nowrap;
  position: relative;
  &.proposal {
    #downArrow {
      border-top: 8px solid $pendingBlue;
    }
    &:before {
      background: $pendingBlue;
      border: 1px solid $white;
    }
    .name {
      background: $pendingBlue;
      color: $white;
    }
  }
  &.active {
    #downArrow {
      border-top: 8px solid $activeGreen;
    }
    &:before {
      background: $activeGreen;
      border: 1px solid $white;
    }
    .name {
      background: $activeGreen;
      color: $white;
    }
  }
  &:before {
    content: ' ';
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 8px;
    position: relative;
  }
  span {
    font-size: 12px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-14px, -36px);
    display: flex;
    border-radius: 12px;
  }
}


#downArrow{
  position: absolute;
  bottom:-8px;
  left: 12px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}


.pinContainer:hover{
  cursor:pointer;
}
