#sideBarContainer{
  display: block;
  width: 365px;
  padding: 1rem;
  height: 100vh;
  position: fixed;
  z-index: 800;
  color: white;
}

#searchbar{
  border-radius: 20px;
  width: 100%;
  padding: 10px;
  padding-left: 40px;
  border: 1px solid silver;
  outline: none;
  font-size: inherit;
}

#searchWrapper{
  position: relative;
}

#glass{
  position: absolute;
  left:10px;
  top:8px;
  font-size: 20px;
}

#cardContainer{
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding: 1.4rem;
  width: 100%;
  border-radius: 20px;
}

.message{
  width: 80%;
}

.bigButton{
  box-sizing: border-box;
  flex: 1;
  margin-top: .2em;
  height: 52px;
  border-radius: 50px;
  border: 1px solid #F2F2F2;
  outline: none;
  font-size: inherit;
  color: inherit;
}

.x{
  position: absolute;
  right: .6rem;
  top: .1rem;
  background-color: transparent;
  outline: none;
  border: 0px;
  color: white;
  font-size: 30px;
}
