// type imports
@import url('https://rsms.me/inter/inter-ui.css');

//magical~ rem dimensional reference
:root {
  font-size: 16px;
}

// Typescale
$t-5: 2.25rem;
$t-4: 1.5rem;
$t-3: 1.25rem;
$t-2: 1rem;
$t-1: 0.875rem;

// global type
body {
  font-family: 'Inter UI', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: $t-2;
}

// headings
h1 {
  font-size: $t-5;
}

h2 {
  font-size: $t-4;
}

h3 {
  font-size: $t-3;
}

p {
  margin-bottom: $d-1;
  font-size: $t-2;
}
