// VARS
$black: black;
$white: white;
$activeGreen: #18cf71;
$pendingBlue: #006DFF;
$brassL: #895C51;
$brassR: #7D4D40;
$brassT: #D89583;

// MIXINS

@mixin for-phone-only {
  @media (max-width: 500px) { @content; }
}

// TYPE
@import url('https://rsms.me/interface/interface.css');

body {
  font-family: 'Interface', sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 14px;
}

h3{
  margin-bottom: 2em;
  font-weight: 400;
}

p{
  margin-bottom: 1em;
  line-height: 16px;
}



//ATOMICS
.bg-w{
  background-color: $white;
  color: $black;
}

.pr1{
  padding-right: 1em;
}

.pl1{
  padding-left: 1em;
}

.pv06{
  padding-top: .6em;
  padding-bottom: .6em;
}

.brr1{
  border-radius: 0px 20px 20px 0px;
}

.brl1{
  border-radius: 20px 0px 0px 20px;
}

.ftimg{
  height: 14px;
  padding-left: 3px;
}

.flexAlignCenter{
  display: flex;
  align-items: center;
}
