@import url("https://rsms.me/inter/inter-ui.css");
* {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  outline: none;
  border: none;
  font-size: inherit; }

:root {
  font-size: 16px; }

body {
  font-family: 'Inter UI', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem; }

h1 {
  font-size: 2.25rem; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1.25rem; }

p {
  margin-bottom: 1rem;
  font-size: 1rem; }

.bg-w {
  background-color: white;
  color: black; }

.pr1 {
  padding-right: 1em; }

.pl1 {
  padding-left: 1em; }

.mr1 {
  margin-right: 1em; }

.ml1 {
  margin-left: 1em; }

.pv06 {
  padding-top: .6em;
  padding-bottom: .6em; }

.br1 {
  border-radius: 99px; }

.flexAlignCenter {
  display: flex;
  align-items: center; }

.shadowS {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); }

.shadowL {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25); }

.visible {
  visibility: visible; }

.hidden {
  visibility: hidden; }

.pill {
  border-radius: 999px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  padding: 0.1rem 1rem 0.1rem 1rem; }

.pillR {
  border-radius: 0px 99px 99px 0px;
  padding: 8px;
  padding-right: 15px; }

.pillL {
  border-radius: 99px 0px 0px 99px;
  padding: 8px;
  padding-left: 15px; }

.pillM {
  padding: 8px; }

.bigPill {
  box-sizing: border-box;
  flex: 1;
  margin-top: .2em;
  height: 52px;
  border-radius: 50px;
  border: 1px solid #F2F2F2;
  outline: none;
  font-size: inherit;
  color: inherit; }

.symbolText {
  font-size: 24px;
  text-align: center;
  vertical-align: middle; }

.blue_bg {
  background-color: #2F80ED;
  border-color: #2F80ED;
  fill: #2F80ED;
  color: white; }

.blue_text {
  color: #2F80ED !important; }

.green_bg {
  background-color: #27AE60;
  border-color: #27AE60;
  fill: #27AE60;
  color: white; }

.darkGrey_bg {
  background-color: #242424;
  color: white; }

.bold {
  font-weight: 500; }

body {
  margin: 0;
  padding: 0; }

button:hover {
  cursor: pointer; }

#topBarContainer {
  display: block;
  color: white;
  padding: 1rem;
  position: fixed;
  z-index: 800;
  top: 0;
  right: 0; }

.button-newCSC {
  border-radius: 999px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: #2F80ED;
  border-color: #2F80ED;
  fill: #2F80ED;
  color: white; }

.button-foam {
  border-radius: 999px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: #242424;
  border-color: #242424;
  fill: #242424;
  color: white;
  margin-left: 1em; }

.img-ft {
  height: 0.875rem;
  padding-left: 1rem; }

#sideBarContainer {
  display: block;
  width: 21rem;
  padding: 1rem;
  height: 100vh;
  position: fixed;
  color: white;
  z-index: 800; }

#searchbar {
  border-radius: 999px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  padding-left: 2.5rem;
  box-shadow: inset 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  width: 100%;
  z-index: 800;
  border: 1px solid #BDBDBD;
  outline: none;
  font-size: inherit; }

#searchWrapper {
  position: relative; }

#glass {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: absolute;
  left: 0.6rem;
  top: 0;
  font-size: 1.5rem; }

.cardContainer {
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  position: relative;
  margin-top: 1rem;
  padding: 1rem;
  width: 100%; }

.message {
  width: 80%; }

.x {
  position: absolute;
  right: .6rem;
  top: .1rem;
  background-color: transparent;
  outline: none;
  border: 0px;
  color: white;
  font-size: 30px; }

#mapControlsContainer {
  border-radius: 999px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #242424;
  border-color: #242424;
  fill: #242424;
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  z-index: 800;
  display: flex; }

.button-zenith, .button-zoomIn, .button-zoomOut {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  background-color: transparent;
  height: 2.25rem;
  width: 2.25rem; }

.button-zoomIn {
  border-radius: 999px 0px 0px 999px;
  color: white;
  padding-left: 0.8rem; }

.button-zoomOut {
  color: white; }

.button-azimuth {
  border-radius: 0px 999px 999px 0px;
  color: #2F80ED;
  padding-right: 0.8rem; }

.bubble-container {
  border-radius: 999px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 13rem;
  height: 2rem;
  transform: translate(-22px, calc(-32px - 8px - 8px)); }

.bubble-body {
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  justify-content: space-between;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: inherit;
  color: inherit;
  padding: 0 1rem 0 1rem;
  border-radius: inherit;
  z-index: 10; }

.bubble-drawer {
  display: flex;
  align-items: center;
  border-radius: 0px 999px 999px 0px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  position: absolute;
  color: inherit;
  z-index: 9;
  height: 100%;
  width: auto;
  left: 13rem;
  padding-right: 1rem;
  padding-left: 4rem;
  transform: translateX(-3.5rem); }

.green_bg .bubble-drawer {
  background-color: #1e8449; }

.blue_bg .bubble-drawer {
  background-color: #1366d6; }

.bubble-container p {
  margin: 0;
  padding: 0;
  font-weight: 400; }

.bubble-title {
  max-width: 8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.bubble-chevron {
  position: absolute;
  z-index: 8;
  top: 2rem;
  left: 1rem; }

.green_bg .bubble-chevron {
  fill: #1e8449; }

.blue_bg .bubble-chevron {
  fill: #1366d6; }
