.topbar{
  width: 100vw;
  height: 40px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-left: 16px;
  z-index: 999;
  position: fixed;
  left: 0;
  top: 0;
}
